@import "base/variables";
@import "base/reset";
@import "base/base";
@import "base/colors";
@import "base/text";
@import "base/layout";
@import "base/animations";
@import "base/form";
@import "base/buttons";

*::-webkit-scrollbar {
  width: .7em;
  height: .7em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-1;
  border: 2px solid $color-4;
  border-radius: 20px;
}
