.kids-img {
  width: 800px;
  max-width: 100%;
  transition: .3s;

  &:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
    transform: translateY(-10px);
  }
}

.tickets {
  background-image: url("~/assets/images/tickets.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;

  .tickets--item {
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    position: relative;

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}

.soldout-span {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.ticket-1 .tickets--item--content {
  background-color: $color-1;
  background-image: url("~/assets/images/ticket-1.svg");
  background-position: center center;
  background-size: cover;
}

.ticket-2 .tickets--item--content {
  background-color: $color-1;
  background-image: url("~/assets/images/ticket-2.svg");
  background-position: center center;
  background-size: cover;
}

.ticket-3 .tickets--item--content {
  background-color: $color-1;
  background-image: url("~/assets/images/ticket-3.svg");
  background-position: center center;
  background-size: cover;
}

.ticket-4 .tickets--item--content {
  background: $color-1;
  background-image: url("~/assets/images/ticket-4.svg");
  background-position: center center;
  background-size: cover;
}

.ticket-5 .tickets--item--content {
  background: $color-1;
  background-image: url("~/assets/images/ticket-5.svg");
  background-position: center center;
  background-size: cover;
}

.ticket-6 .tickets--item--content {
  background: $color-1;
  background-image: url("~/assets/images/ticket-6.svg");
  background-position: center center;
  background-size: cover;
}

.tickets--item--content {
  transition: 0.3s;
  margin-bottom: 50px;
  position: relative;

  .btn {
    background: $color-2;

    &:hover {
      background: $color-2;
    }
  }

  .tickets--item--content--button {
    position: absolute;
    bottom: -30px;
    right: 20px;
    display: none;
    z-index: 100;
  }

  &.active,
  &:focus,
  &:hover {
    transform: scale(1.025, 1.025);
  }
}

.ticket-soldout {
  .btn {
    visibility: hidden;
  }
}

.tickets--item--content.soldout {
  background: $color-3;
  color: $color-4;
  position: relative;
  overflow: hidden;
  pointer-events: none;

  .btn {
    background: $color-3;
    color: $color-4;
  }

  .tickets--item--content--info {
    .date {
      color: $color-4;
    }
  }

  .tickets--item--content--title {
    border-color: $color-4;
    color: $color-4;
  }

  .soldout-span {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;

    div {
      transform: rotate(-35deg);
    }
  }
}


.tickets--item--content {
  padding: 40px 20px 20px 20px;
}

.tickets-border {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  span {
    min-width: 20px;
    width: 20px;
    height: 20px;
    background: $color-4;
    display: block;
    border-radius: 50%;
  }

  &.tickets-border-bottom {
    top: initial;
    bottom: -10px;
  }
}

.tickets-title {
  width: 100%;
  font-weight: bold;
  margin-bottom: 40px;
}

.tickets-btn {
  margin-top: 40px;
}

.tickets-text {
  text-align: left;

  >div {
    margin-bottom: 20px;
  }
}


.tickets-text-event {
  font-weight: bold;
  font-size: 24px;
  color: $color-4;
  padding-bottom: 20px;
}

.tickets-span {
  color: $color-4;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.tickets-text-date,
.tickets-text-value {
  font-weight: bold;
  font-size: 24px;
  min-height: 90px;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
